# docker-compose.yml
version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: vanish-postgres
    environment:
      POSTGRES_DB: vanish_db
      POSTGRES_USER: rj
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis:7
    container_name: vanish-redis
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  postgres_data: